{% extends "staffbase.html" %}
{% block content %}
    <div class="container pb-5">
        <div class="row my-5">
            <h1 class="col-8 col-md-9">{{ Title }}</h1>
            <a class="col-4 col-md-3 btn bg-danger text-light" href="{% url 'view_all_categories' %}"><h5 class="my-2">Til baka</h5></a>
        </div>
        <form class="form my-5" action="{% if slug %}{% url path slug%}{% else %}{% url path%}{% endif %}" method = "post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="bg-success float-right py-3 px-4 mx-5 mt-3" value="Vista flokk">
        </form>
    </div>
{% endblock %}
