{% extends "staffbase.html" %}
{% block content %}
<div>
    <h2 class="text-center text-md-left"><u>{{ header }}</u></h2>
    <div class="row">
            <div class="col-1">
                <p>Mynd</p>
            </div>
            <div class="col-3">
                <p>Nafn</p>
            </div>
            <div class="col-3">
                <p>Verð</p>
            </div>
            <div class="col-3">
                <p>Magn</p>
            </div>
            <div class="col">
                <p>Breyta</p>
            </div>
        </div>
    {% for product in products %}
        <div class="row border border-dark border-top-0">
            <div class="col-1 border-right border-dark">
                <img class="img-responsive staff_product_img" src="{{ product.image.first.relative_path }}"/>
            </div>
            <div class="col-3 border-right border-dark">
                <p>{{ product.name }}</p>
            </div>
            <div class="col-3 border-right border-dark">
                <p>{{ product.price }} kr</p>
            </div>
            <div class="col-3 border-right border-dark">
                <p>{{ product.quantity }}</p>
            </div>
            <div class="col">
                <a href="{%url 'update-product' product.id %}"><button class="btn btn-primary">breyta</button></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}