{% load static %}
<div class="container text-center">
    <h1 class="jumbotron-heading">Karfa</h1>
 </div>
<div class="mb-4 px-0">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none d-md-block">Mynd</th>
                            <th scope="col">Nafn</th>
                            <th scope="col">Magn</th>
                            <th scope="col">Verð</th>
                            <th scope="col">Eyða</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Setja for loop frá hér -->
                        <tr class="col-12">
                            <td class="d-none d-md-block">
                                <img src="https://dummyimage.com/50x50/55595c/fff"/>
                            </td>
                            <td>{{ name }}</td>
                            <td>
                                <div class="input-group ">
                                    <span class="input-group-btn d-none d-md-block">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">-</button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="{{ amount }}">
                                    <span class="input-group-btn d-none d-md-block">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">+</button>
                                    </span>
                                </div>
                            </td>
                            <td>{{ price }} kr</td>
                            <td><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        <!-- Til hér -->
                        <tr class="column">
                            <td></td>
                            <td>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                  <label class="form-check-label" for="inlineRadio1">Sótt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                  <label class="form-check-label" for="inlineRadio2">Heimsending</label>
                                </div>
                            </td>
                            <td></td>
                            <td class="column">
                                <strong>Verð</strong>
                                <strong class="text-right">{{ total }} kr</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-center">
                    <button class="btn text-uppercase">
                        <a id="addCart" class="btn btn-primary text-center text-dark yellow-background" href="/" role="button">Aftur á forsíðu</a>
                    </button>
                </div>
                <div class="col-sm-12 col-md-6 text-center">
                    <button class="btn text-uppercase">
                        <a id="addCart" class="btn btn-primary text-center text-dark yellow-background nextBtn" href="/" role="button">Áfram</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>