{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Stepper -->
    <div class="pt-5">
        <div class="steps-form">
          <div class="steps-row setup-panel">
            <div class="steps-step">
              <p custom="#step-1" class="btn btn-circle yellow-background">1</p>
              <b>Karfa</b>
            </div>
            <div class="steps-step" disabled>
              <p custom="#step-2" class="btn btn-circle yellow-background" disabled="disabled">2</p>
              <b>Persónuupplýsingar</b>
            </div>
            <div class="steps-step">
              <p custom="#step-3" class="btn btn-circle yellow-background" disabled="disabled">3</p>
              <b>Greiðsluupplýsingar</b>
            </div>
            <div class="steps-step">
              <p custom="#step-4" class="btn btn-circle yellow-background" disabled="disabled">4</p>
              <b>Yfirlit</b>
            </div>
          </div>
        </div>

        <form role="form" action="" method="post">
          <!-- First Step -->
          <div class="row setup-content" id="step-1">
            <div class="col-md-12">
                {% include 'cart/cart.html' %}
            </div>
          </div>

          <!-- Second Step -->
          <div class="row setup-content" id="step-2">
            <div class="col-md-12">
                {% include 'cart/personal.html' %}
            </div>
          </div>

          <!-- Third Step -->
          <div class="row setup-content" id="step-3">
            <div class="col-md-12">
                {% include 'cart/payment.html' %}
            </div>
          </div>

          <div class="row setup-content" id="step-4">
            <div class="col-md-12">
                {% include 'cart/review.html' %}
            </div>
          </div>

        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/payment.js' %}"></script>
    <script src="{% static 'js/progressBar.js' %}"></script>
{% endblock %}