{% load static %}
<div class="container text-center">
    <h1 class="jumbotron-heading">Greiðsluupplýsingar</h1>
 </div>
<div class="mb-4 px-0">
    {{ payment_info_form }}
    <div class="row my-3">
        <div class="col-sm-12 col-md-6 text-center">
            <button class="btn btn-primary text-center text-dark yellow-background prevBtn" type="button">Til baka</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <button class="btn btn-primary text-center text-dark yellow-background nextBtn" type="button">Áfram</button>
        </div>
    </div>
</div>