{% load static %}
<div class="container text-center">
    <h1 class="jumbotron-heading">Greiðsluupplýsingar</h1>
</div>
<div id="payment_form_parent" class="mb-4 px-0">
    {{ payment_info_form }}
    <div class="row my-3">
        <div class="col-sm-12 col-md-6 text-center">
            <a class="btn border text-center text-dark yellow-background prevBtn" type="button">Til baka</a>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <a id="review_btn" class="btn border text-center text-dark yellow-background" type="button">Áfram</a>
        </div>
    </div>
</div>
