{% for curr, children in categories.items %}
<div id="{{ curr.URL_keyword }}" class="collapse{% if parent %} pl-3 c-{{ parent.URL_keyword }} {% endif %}" aria-labelledby="{{ parent.URL_keyword }}" data-parent="{% if parent %}#{{ parent.URL_keyword }}{% endif %}">

    <a href="#" data-toggle="collapse" data-target=".c-{{ curr.URL_keyword }}">{{ curr.name }}</a>
    {% if children %}
        {% for child in children %}
            <script>console.log("child {{ child }}")</script>
            {% with categories=child parent=curr filename='product_list/child.html' %}
                {% include filename %}
            {% endwith %}
        {% endfor %}
    {% endif %}
</div>
{% endfor %}
