{% extends "base.html" %}
{% load static %}

{% block extra %}
    <div class="sidebar-sticky ml-md-auto">
        {% include 'product_list/sidebar.html'%}
    </div>
{% endblock%}

{% block prod_list %}
    <div class="px-0 px-md-4">
        <div class="row justify-content-between">
            <div class="col">
                <h2 class="my-3 text-center text-md-left"><u>{{ header }}</u> {{ query }}</h2>
            </div>
            <div class="col align-self-center text-center text-md-right">
                <div class="dropdown show">
                    <a class="btn yellow-background border dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vöruröðun
                    </a>
                    <form action="" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button name="rodun" value="1" class="dropdown-item" type="submit">A-Ö</button>
                        <button name="rodun" value="2" class="dropdown-item" type="submit">Ö-A</button>
                        <button name="rodun" value="3" class="dropdown-item" type="submit">Hæsta fyrst</button>
                        <button name="rodun" value="4" class="dropdown-item" type="submit">Lægsta fyrst</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="product_list">
            <div class="row mx-0">
                {% if prod_list %}
                    {% for product in prod_list %}
                        <a class="col-md-4 col-lg-3 col-6 rounded text-center" href="/vara/{{ product.URL_keyword }}">
                            <img alt="product photo" class="img-responsive my-3" src="{{ product.image.first.relative_path }}"/>
                            <h3 class="text-truncate text-nowrap">{{ product.name }}</h3>
                            <h4 class="mb-3">{{ product.total }} kr</h4>
                        </a>
                    {% endfor %}
                {% else %}
                    {% if search %}
                        <h3>Engar vörur fundust í leitinni "{{ query }}"</h3>
                    {% else %}
                        <h3>Engar vörur fundust í flokknum "{{ header }}"</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div></div>
{% endblock %}

