{% extends "base.html" %}
{% load static %}

{% block extra %}
    <div class="sidebar-sticky ml-md-auto">
        {% include 'product_list/sidebar.html'%}
    </div>
{% endblock%}

{% block prod_list %}
    <div class="">
        <h2 class="my-3 pl-5 text-center text-md-left"><u>{{ header }}</u> {{ query }}</h2>
        <div id="product_list">
            <div class="row mx-0">
                {% if prod_list %}
                    {% for product in prod_list %}
                        <a class="col-md-4 col-lg-3 col-6 rounded text-center" href="/vara/{{ product.URL_keyword }}">
                            <img alt="product photo" class="img-responsive my-3" src="{{ product.image.first.relative_path }}"/>
                            <h3>{{ product.name }}</h3>
                            <h4 class="mb-3">{{ product.price }} kr</h4>
                        </a>
                    {% endfor %}
                {% else %}
                    {% if search %}
                        <h3>Engar vörur fundust í leitinni "{{ query }}"</h3>
                    {% else %}
                        <h3>Engar vörur fundust í flokknum "{{ header }}"</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div></div>
{% endblock %}

