<div class="container-fluid text-left border rounded">
    <div id="accordion" class="pl-3 collapse py-3">
        <div id="leikjatolvur" class="collapse" aria-labelledby="" data-parent="">

            <a href="#" data-toggle="collapse" data-target=".c-leikjatolvur">Leikjatölvur</a>

            <div id="playstation-tolvur" class="pl-3 collapse c-leikjatolvur" aria-labelledby="leikjatolvur">

                <a href="#" data-toggle="collapse" data-target=".c-playstation-tolvur">Playstation</a>

                <div class="pl-3 collapse c-playstation-tolvur" aria-labelledby="playstation-tolvur" data-parent="#playstation-tolvur">
                    <a href="#" data-toggle="collapse" data-target=".c-test">Test</a>
                </div>
                <div class="pl-3 collapse c-playstation-tolvur" aria-labelledby="playstation-tolvur" data-parent="#playstation-tolvur">
                    <a href="#" data-toggle="collapse" data-target=".c-sub-sub">Sub sub</a>
                </div>
                <div class="pl-3 collapse c-playstation-tolvur" aria-labelledby="playstation-tolvur" data-parent="#playstation-tolvur">
                    <a href="#" data-toggle="collapse" data-target=".c-test-sub">Test sub</a>
                </div>

            </div>
        </div>
    </div>
</div>




