.main_logo{
    height:70px;
}

.productimg {
    height: 400px;
    width: 400px;
}

#productRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#product_main {
    background-color: #5dbcd2;
    padding: 25px;
    height: 100%;
}

#product_main, #productDescription {
    border: 1px solid black;
}

.productAmount {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 25px;
    width: 25px;
}

.productAmount a{
    background-image: None;
    background-color: #fff89d;
    color: black;
}

#productAmount {
    background-color: aliceblue;
    background-image: none;
    height: 25px;
    width: 25px;
}

#productDescription {
    background-color: aliceblue;
    text-align: left;
    padding: 5px;
    height: 250px;
}

.btn-custom{
    background-color: #FFF89C !important;
}

.yellow-background{
    background-color: #FFF89C !important;
}
.yellow-color{
    color: #FFEC01 !important;
}
.categories{
    background-color: #FFF89C !important;
}
.icon{
    fill: #FFEC01 !important;
}
.account-icon{
    width:2.6rem;
    height:2.6rem;
}

.cart-icon{
    width:2.3rem;
    height:2.3rem;
}

.menu-icon{
    fill:black !important;
    width:1.5rem !important;
    height:1.5rem !important;
}

.mobile_border div :not(:last-child){
    border-bottom: 1px solid black !important;
}

.categories a, .categories a:hover{
    text-decoration: none !important;
    color:unset;
}

.categories > div > div:hover{
    color:white !important;
    background-color: gray !important;
    -webkit-transition: color, background-color 200ms ease-out;/* Safari 6.0 - 9.0 */
    transition: color, background-color 200ms ease-out;
}

@media only screen and (min-width : 768px) {
    .mobile_border div :not(:last-child){
        border-bottom: none !important;
    }
}
