.main_logo{
    height:70px;
}

#productimg {
    height: 100%;
    width: 90%;
    padding-bottom: 15px;
}

#quantity{
    max-width: 60px;
}

#product_main {
    background-color: #5dbcd2;
    padding: 25px;
}

#product_main, #productDescription {
    border: 1px solid black;
}

#productDescription {
    background-color: aliceblue;
    text-align: left;
    padding: 5px;
    height: 250px;
}

.bottomLeft {
    display: flex;
    flex-direction: row;
}

.productAmount {
    flex-direction: column;
    height: 40px;
    width: 100px;
}

#productDescription {
    background-color: aliceblue;
    text-align: left;
    padding: 5px;
    height: 250px;
    width: 90%;
}

.btn-custom{
    background-color: #FFF89C !important;
}

.yellow-background{
    background-color: #FFF89C !important;
}
.yellow-color{
    color: #FFEC01 !important;
}
.categories{
    background-color: #FFF89C !important;
}
.icon{
    fill: #FFEC01 !important;
}
.account-icon{
    width:2.6rem;
    height:2.6rem;
}

.cart-icon{
    width:2.3rem;
    height:2.3rem;
}

.menu-icon{
    fill:black !important;
    width:1.5rem !important;
    height:1.5rem !important;
}

.mobile_border div :not(:last-child){
    border-bottom: 1px solid black !important;
}

.categories a, .categories a:hover{
    text-decoration: none !important;
    color:unset;
}

.categories > div > div:hover{
    color:white !important;
    background-color: gray !important;
    -webkit-transition: color, background-color 200ms ease-out;/* Safari 6.0 - 9.0 */
    transition: color, background-color 200ms ease-out;
}

@media only screen and (min-width : 768px) {
    .mobile_border div :not(:last-child){
        border-bottom: none !important;
    }
}


#product_list *{
    color:black;
    text-decoration: none !important;
}
#product_list a{
    /*background-color: white !important;*/
    color:black;
    text-decoration: none !important;
}

#product_list > a:hover{
    box-shadow:0px 0px 0px 2px black inset;
    -webkit-transition: box-shadow 200ms ease-out;/* Safari 6.0 - 9.0 */
    transition: box-shadow 200ms ease-out;
}

#product_list img{
    width: 100%;
    height: 200px;
    object-fit: contain !important;
}


.carousel-control-btn{
    width:10%;

#map{
    width:250px;
    height:150px
}
#inner_navbar{
    max-width: 77em;
}