{% load static %}
<footer class="navbar bg-primary">
    <div class="container-fluid text-md-left">
        <div class="d-none d-lg-block">
            <iframe id="map"
                    src="https://maps.google.com/maps?hl=en
                        &amp;q=Háskólinn í Reykjavík+(Háskólinn í Reykjavík)
                        &amp;ie=UTF8
                        &amp;t=
                        &amp;z=12
                        &amp;iwloc=B
                        &amp;output=embed"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0">
            </iframe>
        </div>
        <div>
            <h6 class="font-weight-bold">Captain Console ehf.</h6>
            <h6 class="font-weight-bold">Menntavegi 1, 102 Reykjavík</h6>
        </div>
        <div>
            <h6 class="pb-2 border-bottom border-light text-uppercase font-weight-bold">Opnunartími</h6>
            <p>mán-fös: 9-18</p>
            <p>lau: 10-16</p>
        </div>
        <div>
            <h6 class="pb-2 border-bottom border-light text-uppercase font-weight-bold">Hafa samband</h6>
            <p><span class="fas fa-phone mr-3"></span> 581-2345</p>
            <p><span class="fas fa-envelope mr-3"></span> console@console.is</p>
        </div>
    </div>
</footer>