{% load static %}

<!--
sm: 576px
md: 768px
lg: 992px
-->

<nav class="navbar navbar-expand-md navbar-dark bg-primary static-top">
    <div class="container justify-content-center mx-auto">
        <div class="row mx-auto justify-content-center">
            <div class="row col-12">
                <div class="col text-center text-md-left">
                    <a class="" href="/">
                        <img src="{% static 'images/logo.png' %}" class="main_logo rounded-lg" alt="Captain Console logo">
                    </a>
                </div>
                <div class="row col-md-auto mx-auto">
                    <form class="col my-auto d-inline">
                        <div class="input-group">
                            <input class="form-control border-dark border-right-0" type="text" placeholder="Leita..." aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-default btn-custom border-dark border-left-0" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row text-center col-sm-12 col-md-auto">
                    <div class="col align-self-center">
                        <a class="row align-self-end" href="#">
                            <i class="col-4 far fa-user"></i>
                            <p class="text-dark col-8">Account</p>
                        </a>
                    </div>
                    <div class="col align-self-center">
                        <a href="#">
                            <ion-icon class="mt-1" name="cart-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>

            <button class="navbar-toggler mb-1 mx-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col col-12">
                <div class="collapse navbar-collapse row justify-content-sm-center categories text-center mobile_border" id="navbarResponsive">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 pt-1 pb-1">
                            <h4>Leikjatölvur</h4>
                        </div>
                        <div class="col-md-4 col-sm-12 pt-1 pb-1">
                           <h4>Leikir</h4>
                        </div>
                        <div class="col-md-4 col-sm-12 pt-1 pb-1">
                            <h4>Aukahlutir</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>