{% load static %}
<nav class="container-fluid bg-primary static-top p-0">
    <div class="row text-center py-4 mx-3">
        <a class="col" href="{% url 'dashboard' %}">
            <img src="{% static 'images/logo.png' %}" class="main_logo rounded-lg" alt="Captain Console logo">
        </a>
        <a class="col text-light" href="#">
            <h3 class="my-3">Pantanir</h3>
        </a>
        <a class="col text-light" href="{% url 'view_all_products' %}">
            <h3 class="my-3">Vörur</h3>
        </a>
        <a class="col text-light" href="{% url 'view_all_categories' %}">
            <h3 class="my-3">Flokkar</h3>
        </a>
        {% if user.is_superuser %}
            <a class="col text-light" href="{% url 'view_all_customers' %}">
                <h3 class="my-3">Viðskiptavinir</h3>
            </a>
            <a class="col text-light" href="{% url 'view_all_staff' %}">
                <h3 class="my-3">Starfsmenn</h3>
            </a>
        {% endif %}
        <a class="col text-light" href="{% url 'logout_staff' %}">
            <h3 class="my-3">Útskráning</h3>
        </a>
    </div>
</nav>