{% load static %}
<nav class="container-fluid bg-primary static-top p-0 mx-0">
    <div class="row text-center py-4">
        <a class="col text-light" href="#">
            <h4 class="my-2">Pantanir</h4>
        </a>
        <a class="col text-light" href="#">
            <h4 class="my-2">Vörur</h4>
        </a>
        <a class="col text-light" href="#">
            <h4 class="my-2">Flokkar</h4>
        </a>
        {% if user.is_superuser %}
            <a class="col text-light" href="#">
                <h4 class="my-2">Viðskiptavinir</h4>
            </a>
            <a class="col text-light" href="#">
                <h4 class="my-2">Starfsmenn</h4>
            </a>
        {% endif %}
        <a class="col text-light" href="{% url 'logout_staff' %}">
            <h4 class="my-2">Útskráning</h4>
        </a>
    </div>
</nav>